<?xml version="1.0"?>
<config>
    <modules>
        <Spo_Zerobounce>
            <version>0.1.0</version>
        </Spo_Zerobounce>
    </modules>
    <frontend>
        <routers>
            <zerobounce>
                <use>standard</use>
                <args>
                    <module>Spo_Zerobounce</module>
                    <frontName>zerobounce</frontName>
                </args>
            </zerobounce>
        </routers>
        <layout>
            <updates>
                <zerobounce>
                    <file>zerobounce.xml</file>
                </zerobounce>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <zerobounce>
                <class>Spo_Zerobounce_Model</class>
                <resourceModel>zerobounce_mysql4</resourceModel>
            </zerobounce>
            <zerobounce_mysql4>
                <class>Spo_Zerobounce_Model_Mysql4</class>
                <entities>
                    <zerobounce>
                        <table>zerobounce</table>
                    </zerobounce>
                </entities>
            </zerobounce_mysql4>
        </models>
        <resources>
            <zerobounce_setup>
                <setup>
                    <module>Spo_Zerobounce</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zerobounce_setup>
            <zerobounce_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zerobounce_write>
            <zerobounce_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zerobounce_read>
        </resources>
        <blocks>
            <zerobounce>
                <class>Spo_Zerobounce_Block</class>
            </zerobounce>
        </blocks>
        <helpers>
            <zerobounce>
                <class>Spo_Zerobounce_Helper</class>
            </zerobounce>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <spo_zerobounce>
                                            <title>Zerobounce</title>
                                        </spo_zerobounce>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>